__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
.venv/
venv/
env/
.DS_Store
*.log
*.pot
local_settings.py
media/
staticfiles/
node_modules/
.vscode/
dist/
build/
*.egg-info/
/.mypy_cache/
/.pytest_cache/
coverage.xml
coverage/
htmlcov/
pip-wheel-metadata/
__pypackages__/
*.pem
*.key
*.crt
*.env.local
.idea/
datastore.db